.container{
    padding-bottom: 30px;
}
.pagination{
    color:#FF0742 ;
    display: block 
}
.page-item{
    display: block
}
li {
    float: left;
    padding-left: 10px;
    padding-right: 15px;
  }
li a {
    text-align: center;
    text-decoration: none;
    background-color: #ffffff;
    color: #FF0742;
  }
.item{
    max-width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}