.container{
    padding-bottom: 30px;
}
.pagination{
    color:#FF0742 ;
    display: block 
}
.page-item{
    display: block
}
li {
    float: left;
    margin-left: auto;
    padding-left: 25px;
    margin-right: auto;
  }
li a {
    text-align: center;
    text-decoration: none;
    background-color: #ffffff;
    color: #FF0742;
  }
.item{
    max-width: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}