.select-filter{
    border-radius: 5px;
    border-width: 2px;
    border-color: #FF0742;
    color:#FF0742 ;
    width: 60px;
}
.Search{
    border-radius: 5px;
    border-width: 2px;
    color:#FF0742 ;
    border-color: #FF0742;
}
